<div class="container">
  <div class="secondary_container">
    <div class="home-team">
      <img class="team-img" src="Al_Ahly.png" alt="Al_Ahly" />
      <p class="teams-name">Al Ahly</p>
    </div>
    <div class="information">
      <p class="Date">7:00 pm</p>
      <p class="MatchVenue">cairo stadium 
 Main Referee 
 Two Linesmen</p>
    </div>
    <div class="away-team">
      <img class="team-img" src="AL_Zamalek.png" alt="Al_Zamalek" />
      <p class="teams-name">Al Zamalek</p>
    </div>
  </div>

  <div class="secondary_container">
    <div class="grid">
      <div class="row" *ngFor="let row of [].constructor(rows); let i = index">
        <div
          class="col"
          *ngFor="let col of [].constructor(cols); let j = index">
          <button class="chair" [ngStyle]="{ 'background-color': chairs_colors[i][j] }" (click) = "changeColor(i,j)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
