.secondary_container {
  display: flex;
  width: 100%;
}

.away-team,
.home-team {
  flex: 2; /* Each box takes an equal share of the available space */
  text-align: center; /* Optional: to center content */
  width: 400px; /* Set the desired width */
}
.information {
  flex: 3; /* Each box takes an equal share of the available space */
  text-align: center;
}
/* Match Information Styling */

.team-img {
  max-width: 100%; /* Ensures the image width does not exceed the container */
  max-height: 100%; /* Ensures the image height does not exceed the container */
  object-fit: cover; /* Keeps the image's aspect ratio and fits it within the container */
}

.information p {
  font-weight: bold;
  font-size: large;
  color: #222;
}
.teams-name {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: xx-large;
}
.container {
  background-image: url("../../../public/playground_3d.png");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  height: 1000px;
}
.grid {
  flex: 1;
  display: flex;
  width: 80%;
  border-radius: 40px;
  flex-direction: column;
  gap: 20px; /* Space between rows */
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  gap: 20px; /* Space between seats */
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chair {
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
  background-color: rgb(250, 250, 250);
  background-image: url("../../../public/chair.png");
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  border: none;

  border-radius: 40px;
}

.information .Date {
  font-size: 3.5em; /* Larger font size */
  font-weight: bold; /* Optional: emphasize the text */
}
.information .MatchVenue,
.information .MainReferee,
.information .TwoLinesmen {
  font-size: large;
}
