<div class="container">
  <div class="home-team">
    <p class="teams-name">Al Ahly</p>
    <img class="team-img" src="Al_Ahly.png" alt="Al_Ahly" />
  </div>
  <div class="information">
    <p class="info-item">Home Team</p>
    <p class="info-item">Away Team</p>
    <p class="info-item">Match Venue</p>
    <p class="info-item">Date & Time</p>
    <p class="info-item">Main Referee</p>
    <p class="info-item">Two Linesmen</p>

  </div>
  <div class="away-team">
    <p class="teams-name">Al Zamalek</p>
    <img class="team-img" src="AL_Zamalek.png" alt="Al_Zamalek" />
  </div>
</div>

<div class="container">
  <div class="grid">
    <div class="row">
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
      <div class="col">
        <img class="chair" src="chair.png" />
      </div>
    </div>
  
</div>

</div>
