<app-header></app-header>

<div class="hero-section">
  <div class="overlay">
    <h1>Book your match now</h1>
    <p>Find all matches you want</p>
    <!-- <button class="cta-button">Book your Ticket</button> -->
  </div>
</div>



<!-- Conditional Buttons for Manager or Site Admin -->
<div *ngIf="userType === 'Manager' || userType === 'Admin'" class="manager-buttons">
  <button class="fancy-button" (click)="onManageMatches()">Add Matches</button>
  <button class="fancy-button" (click)="onViewReports()">Add Stadiums</button>
</div>

<div class="grid">
  <app-match-card *ngFor="let match of matches" [match]="match"></app-match-card>
</div>

<app-footer></app-footer>
