.fancy-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(90deg, #90a955ff, #31572cff);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.fancy-button:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, #132a13ff, #4f772dff);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
