.footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 15px;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    font-size: 1rem;
    margin: 0;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #4f772dff;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #555;
    font-size: 0.9rem;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}